###
### Simple Raspberry to Cayenne MQTT client
###
### @author     Knut Kohl <github@knutkohl.de>
### @copyright  (c) 2016 Knut Kohl
### @licence    MIT License - http://opensource.org/licenses/MIT
###

###
### MQTT Username
###
USERNAME=""

###
### MQTT Password
###
PASSWORD=""

###
### Client ID
###
CLIENTID=""

###
### Verbose mode
###
#VERBOSE=yes
